*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --clr-accent1:#FECD2E;
    --clr-accent2:#3F90EC;
    --clr-text1:#707070;
}


body{
    font-family: poppins;
}

/* nav start */
nav{
    background: white;
    height: 80px;
    width: 100%;
    position: center;
    font-weight: bold;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}
.nav-con{
    max-width: 1800px;
    margin: 0 auto;
}

.nav-con > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
  
}
label.logo img{
    width: 70px;
    height: 70px;
    
}

nav ul{
    float: right;
    margin-right: 20px;
    z-index: 999;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}

nav ul li a{
    color: black;
    font-size: 17px;
    text-transform: uppercase;
}
a.active, a:hover{
    font-weight: bold;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* nav end */

/* main start */

main .hero{
    background-image: url("Images/Group-116.png");
    min-height: 100vh;
    min-width: 100vw;
    /* object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain; */
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: lightblue;
    /* background-position: 70%; */
    background-position: 0% 90%;
    

}

.hero > div{
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto ;
}

.container{
    display: flex;
    justify-content: space-between;
}



/* main end */

/* about start */
.header{
    max-width: 600px;
    line-height: 1.2;
}

.header h1{
    font-size: 2.125em;
}

.header blockquote{
    font-size: 1.1em;
}
/* about end */


/* flexibility */

/* partners */
.partner-container{
    
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}
.grid{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(6, 0.5fr);
    grid-gap: 50px;
    align-items: center;
    max-width: 1000px;
}

.grid > article{
    border: none;
}
.btn{
    position: absolute;
    background: coral;
    width: 160px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}
.btn:hover{
    transform: scale(1.1);
}

@media (max-width:768px) {
    .grid{
        grid-template-columns: repeat(2,0.5fr);
    }
}


@media (max-width: 952px) {
    label.logo{
        
       
        
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ div ul{
        left: 0;
    }
    label.logo{
        
    }
}